/*variables*/

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-gray: #3D546F;
  --basic-graylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-text: #000000;
  --basic-yellow: #FFDA96;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-greylight: #EAEAEA;
  --special-grey: #32425C;
  --guidance-grey: #293449;
  --click-grey: #1D2739;
  --click-grey-nav-link: #161D29;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --white: #ffffff;
  --grey: #a9a9a9;
  --grey-die: #F9F5F0;

  --base-font: 'PT Sans', sans-serif;
  --second-font: 'Cuprum', sans-serif;

}

/*Global*/

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: var(--base-font);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-background);
  color: var(--basic-text);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  list-style: none;
  border: none;
}

input {
  list-style: none;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*Container*/

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Header*/

.header {
  margin-bottom: 59px;
}

/*Navigation header*/
/*Logo header*/

.navigation-background-top{
  background-color: var(--special-grey);
}

.logo-background {
  display: inline-flex;
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  margin-bottom: -5px;
}

.logo-header {
  margin-top: 12px;
  margin-left: 55px;
  margin-right: 57px;
  margin-bottom: 17px;
}

.header-navigation {
  display: flex;
}


ul.list.navigation-link{
  display: flex;
  flex-wrap: wrap;
}


.search {
  display: block;
  width: 271px;
  height: 42px;
  color: var(--white);
  background-color: var(--special-grey);
}

.navigation-link input {
  padding-left: 42px;
}

.width-search {
  flex-grow: 1;
}

.navigation-link a {
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  color: inherit;
}

.navigation-link li {
  font-size: 18px;
  line-height: 24px;
  font-family: var(--second-font);
  color: var(--white);
}

.basket a,
.bookmarks a {
  min-width: 150px;
  box-sizing: border-box;
  padding-left: 43px;
  padding-right: 5px;
}

.order a {
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--basic-green);
}

/*icon header*/

.bookmarks-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 20px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.basket-link,
.bookmarks-link {
  position: relative;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}


/*hover and click*/

.order a:hover {
  background-color: var(--success);
}


.bookmarks-link:hover::before,
.basket-link:hover::before {
  opacity: 1;
}

.logo-background:active {
  background-color: var(--error);
}

.navigation-link a:active {
  opacity: 0.5;
}

.navigation-link input:focus {
  background-color: var(--white);
  color: var(--basic-text);
}

                               /* Header 2-й Уровень  */

.header-contact{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.activity {
  padding-left: 30px;
  color: var(--basic-red);
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  margin-top: 38px;
}

.telephone {
  display: block;
  color: var(--basic-red);
  font-family: var(--second-font);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 7px;
  margin-left: 74px;
  margin-right: 45px;
  margin-bottom: 8px;
}

.telephone-frame {
  display: flex;
  text-align: center;
  width: 270px;
  height: 45px;
  border: 3px solid;
  border-color: var(--white);
  margin-top: 41px;
}

.telephone::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -39px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.telephone {
  position: relative;
}


.header-address {
  font-family: var(--second-font);
  font-size: 14px;
  color: var(--special-grey);
}

.user-navigation{
  display: flex;
  justify-content: space-between;
}
.enter-button {
  display: block;
  margin-top: 41px;
  margin-bottom: 67px;
  margin-left: 69px;
  box-sizing: border-box;
}

.registration-button {
  display: block;
  margin-top: 41px;
  margin-bottom: 67px;
  margin-left: 10px;
  box-sizing: border-box;
}


.registration-button a,
.enter-button a {
  display: block;
  min-width: 121px;
  color: var(--basic-text);
  font-size: 21px;
  line-height: 21px;
  font-family: var(--second-font);
  text-align: center;
  background-color: var(--white);
  padding-top: 12px;
  padding-bottom: 12px;
}

.registration-button a {
  min-width: 150px;
}

.user-navigation a:hover {
  color: var(--basic-red);
}

.user-navigation a:active {
  color: var(--basic-graylight);
}
/*Main menu*/

.site-navigation li {
  flex-grow: 1;
  text-align: center;
}


.navigation ul {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--second-font);
  color: var(--white);
  font-size: 18px;
  background-color: var(--special-grey);
  height: 60px;
}

.site-navigation a {
  display: block;
  color: inherit;
  padding-top: 16px;
  padding-bottom: 20px;
}

.main-page a {
  padding-left: 22px;
}

.contact-page a {
  padding-right: 22px;
}

.site-navigation a:hover {
  background-color: var(--guidance-grey);
}

.site-navigation a:active {
  opacity: 0.5;
}
                               /*Main content*/
                               /*Advertising*/

.advertising {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: var(--white);
  padding-top: 59px;
  font-family: var(--second-font);
}

.white-background {
  background-color: var(--white);
}

.advertising li {
  float: left;
}

.materials {
  display: flex;
  flex-direction: column;
  position: relative;;
  background-color: var(--special-yellow);
  width: 300px;
  height: 123px;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}
.tool {
  display: block;
  position: relative;
  margin-left: 20px;
  background-color: var(--special-blue);
  width: 300px;
  height: 123px;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.technic {
  position: relative;
  margin-left: 20px;
  background-color: var(--special-lilac);
  width: 300px;
  height: 123px;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.discounts {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  background-color: var(--special-greenlight);
  width: 300px;
  height: 123px;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.delivery {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  background-color: var(--special-yellow);
  width: 300px;
  height: 123px;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.materials::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 231px;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon-materials.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tool::before {
  content: "";
  position: absolute;
  top: 34px;
  left: 194px;
  width: 75px;
  height: 61px;
  background-image: url("../img/icon-tool.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.technic::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 191px;
  width: 78px;
  height: 62px;
  background-image: url("../img/icon-technic.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.discounts::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 196px;
  width: 59px;
  height: 72px;
  background-image: url("../img/icon-discounts.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 191px;
  width: 78px;
  height: 63px;
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.announcement-link-text {
  display: inline-block;
  /*position: absolute;*/
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 26px;
  color: var(--white);
  font-family: var(--second-font);
  font-size: 14px;
}

.materials-text,
.tool-text,
.technic-text,
.discounts-text,
.delivery-text {
  position: absolute;
  margin-top: 20px;
  margin-left: 23px;
}

.materials-link,
.tool-link,
.technic-link,
.discounts-link,
.delivery-link {
  position: absolute;
  width: 135px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--white);
  margin-top: 64px;
  margin-left: 23px;
}

.materials a,
.tool a,
.technic a,
.discounts a,
.delivery a {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
}

.slider {
  display: block;
  width: 620px;
  height: 266px;
  order: 4;
  margin-top: 20px;
  background-image: url("../img/Layer99.png");
}

.slider-tint {
  position: absolute;
  width: 620px;
  height: 104px;
  color: var(--white);
  background-color: rgba(00, 00, 00, 0.5);
}

.button-open-catalog {
  position: absolute;
  margin-top: 201px;
  margin-left: 24px;
  width: 192px;
  height: 38px;
  color: var(--white);
  background-color: var(--basic-red);
}

.open-catalog {
  position: absolute;
  text-transform: uppercase;
  margin-top: 11px;
  margin-left: 46px;
  margin-right: 46px;
  margin-bottom: 9px;
  line-height: 18px;
}

/*Popular products*/

.popular-background {
  background-color: var(--white);
}

.popular {
  position: static;
  background-color: var(--grey-die);
  margin-top: 59px;
  width: 940px;
  height: 89px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: var(--second-font);
  color: var(--special-grey);
}

.popular-product {
  position: absolute;
  margin-left: 28px;
  margin-top: 29px;
}

.all-popular {
  position: absolute;
  width: 192px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--white);
  text-transform: uppercase;
  margin-left: 734px;
  margin-top: 25px;
}

.all-popular-text {
  position: absolute;
  margin-left: 24px;
  margin-top: 11px;
}

.catalog-main {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  background-color: var(--white);
  margin-top: 20px;
}

/*Popular manufacturers*/

.manufacturers {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  background-color: var(--white);
  padding-bottom: 50px;
}

.manufacturers li {
  width: 220px;
  height: 145px;
  border: 1px solid var(--special-greylight);
  text-align: center;
  background-color: var(--white);
  margin-bottom: 20px;
}




















/*Footer navigation*/
.footer-all-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 37px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.footer-all-menu .logo {
  width: 220px;
  height: 68px;
  background-color: var(--basic-red);
  margin-bottom: 22px;
}

.footer-navigation {
  font-size: 18px;
  color: var(--white);
  background-color: var(--special-grey);
  font-family: var(--second-font);
}
.footer-navigation-background {
  background-color: var(--special-grey);
}

.footer-menu a {
  color: inherit;
  font-size: 18px;
}

.footer-list a {
  color: var(--basic-yellow);
  font-size: 18px;
}

.footer-link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 16px;
  line-height: 18px;
}
.footer-link-background {
  background-color: var(--guidance-grey);
}

.mail a:link {
  color: var(--basic-yellow);
}

.developer-link {
  color: var(--basic-yellow);
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:focus {
  opacity: 0.5;
}

.footer-telephone {
  color: var(--white);
  font-style: normal;
}

.social a {
  color: var(--white);
}






/*Catalog*/

.catalog li {
  width: 220px;
  height: 318px;
  border: 1px solid var(--special-greylight);
  text-align: center;
  background-color: var(--white);
}

.catalog a {
  color: var(--basic-text);
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.catalog img {
  padding-top: 22px;
  padding-left: 33px;
  padding-right: 43px;

}

.catalog .price {
  width: 141px;
  height: 38px;
  background-color: var(--basic-red);
  border: 0px;
  color: var(--white);
  margin-bottom: 10px;
  margin-left: 32px;
  margin-right: 44px;
  margin-top: 10px;

}

.catalog del {
  color: var(--grey);
}

.catalog li:hover {
  box-shadow: 0 0 5px var(--grey);
}

.catalog-background {
  background-color: var(--white);
}
