/*variables*/

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-gray: #3D546F;
  --basic-graylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-text: #000000;
  --basic-yellow: #FFDA96;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-greylight: #EAEAEA;
  --special-grey: #32425C;
  --guidance-grey: #293449;
  --click-grey: #1D2739;
  --click-grey-nav-link: #161D29;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --white: #ffffff;
}

/*Global*/

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum, Arial Narrow', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-background);
  color: var(--basic-text);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  background-color: var(--basic-red);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Navigation header*/

.nav {
  font-size: 18px;
  color: var(--white);
  background-color: var(--special-grey);
}

.nav-link {
  font-size: 18px;
  color: var(--white);
  background-color: var(--special-grey);
}

.nav-link input {
  color: var(--white);
  background-color: var(--special-grey);
}

.site-nav a,
.nav-link a {
  color: inherit;
}

.site-nav a:hover,
.nav-link a:hover,
.nav-link input:hover {
  background-color: var(--guidance-grey);
}

.site-nav a:focus {
  background-color: var(--click-grey);
  opacity: 0.5;
}

.nav-link a:focus {
  background-color: var(--click-grey-nav-link);
  opacity: 0.5;
}

.nav-link input:active {
  background-color: var(--white);
}

/*Navigation footer*/

.footer-nav {
  font-size: 18px;
  color: var(--white);
  background-color: var(--special-grey);
}

.footer-link {
  font-size: 18px;
  color: var(--white);
  background-color: var(--guidance-grey);
}

.footer-list li:nth-child(6),
.footer-list li:nth-child(7),
.footer-list li:nth-child(8),
.footer-list li:nth-child(9) {
  color: var(--basic-yellow);
}

.mail a:link,
.developer a:link {
  color: var(--basic-yellow);
}

.footer-nav a,
.footer-link a {
  color: inherit;
}

.footer-nav a:hover,
.footer-link a:hover {
  text-decoration: underline;
}

.footer-nav a:focus,
.footer-link a:focus {
  opacity: 0.5;
}


