/*variables*/

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-gray: #3D546F;
  --basic-graylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-text: #000000;
  --basic-yellow: #FFDA96;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-greylight: #EAEAEA;
  --special-grey: #32425C;
  --guidance-grey: #293449;
  --click-grey: #1D2739;
  --click-grey-nav-link: #161D29;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --white: #ffffff;
  --grey: #a9a9a9;
  --grey-die: #F9F5F0;
  --header-gray: #F2F6F8;
  --catalog-gray: #F7F3EC;

  --base-font: PT Sans, "Arial", sans-serif;
  --second-font: Cuprum, "Arial Narrow", sans-serif;

}

/*Global*/

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: var(--base-font);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-background);
  color: var(--basic-text);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.hover-button:focus {
  background-color: var(--error);
}

.hover-button:hover {
  background-color: #ca2c37;
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*Container*/

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Header*/

.header {
  margin-bottom: 59px;
}

/*Header first level*/

.navigation-background-top{
  background-color: var(--guidance-grey);
}

.logo-background,
.logo-background-main-page {
  display: inline-flex;
  min-width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);
}

.indent {
  margin-bottom: -5px;
}

.logo {
  margin-top: 12px;
  margin-left: 55px;
  margin-right: 57px;
  margin-bottom: 17px;
}

.header-navigation {
  display: flex;
}

.navigation-link {
  display: flex;
  justify-content: flex-end;
}

.navigation-link a {
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  color: inherit;
}

.search {
  padding: 0;
  max-width: 271px;
  height: 42px;
  color: var(--white);
  background-color: var(--guidance-grey);
  border: none;
  position: relative;
  line-height: 24px;
}

.navigation-link input {
  padding-left: 42px;
  width: 271px;
  max-width: 100%;
}

.search::placeholder {
  color: var(--white);
}

.width-search {
  flex-grow: 1;
  position: relative;
}

.width-search::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 12px;
  left: 17px;
  z-index: 3;
  background-image: url("../img/icon-search.svg");
  opacity: 0.3;
}

.width-search:hover::before {
  opacity: 1;
}

.width-search:focus-within::before{
  background-image: url("../img/icon-search-red.svg");
  opacity: 1;
}

.navigation-link li {
  font-size: 18px;
  line-height: 24px;
  font-family: var(--second-font);
  color: var(--white);
}

.red-background {
  background-color: var(--basic-red);
}

.bookmarks a {
  padding-left: 43px;
  padding-right: 24px;
}

.basket a {
  padding-left: 35px;
}

.background-red {
  background-color: var(--basic-red);
}

.basket,
.bookmarks {
  width: 164px;
}

.basket {
  width: 136px;
}

.order a {
  width: 150px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--basic-green);
}

.bookmarks-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 20px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  opacity: 0.3;
}

.bookmarks-link::before,
.basket-link::before,
.telephone::before,
.enter::before {
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-link,
.bookmarks-link,
.enter,
.search,
.telephone,
.manufacturers-logo,
.button-circle,
.icon-home,
.bread-crumb-catalog,
.bread-crumb-tool,
.bread-crumb-perforators,
.triangle-top,
.triangle-buttom,
.name {
  position: relative;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  opacity: 0.3;
}

.order a:hover {
  background-color: var(--success);
}

.bookmarks-link:hover::before,
.basket-link:hover::before {
  opacity: 1;
}

.logo-background:active {
  background-color: var(--error);
}

.navigation-link a:active {
  opacity: 0.5;
  background-color: var(--click-grey-nav-link);
}

.order a:active {
  background-color: var(--basic-green);
}

.navigation-link input:focus {
  background-color: var(--white);
  color: var(--basic-text);
}

/* Header second level*/

.header-contact{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 42px;
}

.header-contact-catalog {
  padding-bottom: 38px;
}

.activity {
  margin: 0;
  padding-left: 30px;
  color: var(--basic-red);
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  padding-top: 43px;
  font-family: var(--second-font);
  width: 230px;
}

.telephone {
  color: var(--basic-red);
  font-family: var(--second-font);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 4px;
  margin-left: 72px;
}

.telephone-frame {
  display: flex;
  text-align: center;
  width: 270px;
  height: 45px;
  border: 3px solid;
  border-color: var(--white);
  margin-top: 46px;
  margin-left: 6px;
}

.telephone::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -35px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
}

.header-address {
  font-family: var(--second-font);
  color: var(--special-grey);
  font-style: normal;
  width: auto;
  padding-top: 2px;
  padding-left: 16px;
  max-width: 320px;
}

.user-navigation{
  display: flex;
  flex-wrap: wrap;
}
.enter-button {
  margin-top: 46px;
  margin-left: 32px;
  width: 121px;
}

.registration-button {
  margin-top: 46px;
  margin-left: 10px;
}

.name-button {
  margin-top: 46px;
  margin-left: 14px;
  position: relative;
}

.name::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  top: 13px;
  left: 18px;
  background-image: url("../img/icon-user.svg");
}

.name:hover::before{
  background-image: url("../img/login-in-grey.svg");
}
.name:hover::after {
  background-image: url("../img/login-out-grey.svg");
}

.name:active:before{
  background-image: url("../img/login-in-click.svg");
}
.name:active::after {
  background-image: url("../img/login-out-click.svg");
}

.my-order a,
.my-office a {
  font-family: var(--second-font);
  font-size: 16px;
  line-height: 18px;
  color: var(--special-grey);
}

.my-order {
  padding-top: 5px;
  padding-left: 60px;
  position: relative;
}

.my-office {
  padding-top: 5px;
  padding-left: 13px;
}

.circle {
  padding-top: 6px;
  padding-left:11px;
  font-size: 16px;
  line-height: 18px;
}

.name-button a,
.registration-button a,
.enter-button a {
  display: block;
  color: var(--basic-text);
  font-size: 21px;
  line-height: 21px;
  font-family: var(--second-font);
  text-align: center;
  background-color: var(--white);
  padding-top: 12px;
  padding-bottom: 12px;
}

.name-button a {
  padding-left: 56px;
  padding-right: 57px;
}

.button-out {
  position: absolute;
  right: 17px;
  top: 14px;
}

.button-out svg:hover {
  fill: var(--basic-gray);
}

.button-out svg:active {
  fill: var(--basic-graylight);
}

.name-button .button-out {
  width: 20px;
  padding: 0;
}

.button-out a {
  width: 20px;
}

.enter-button a {
  padding-left: 18px;
}

.registration-button a {
  min-width: 150px;
}

.user-navigation a:hover {
  color: var(--basic-red);
}

.user-navigation a:active {
  color: var(--basic-graylight);
}

.enter::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 19px;
  background-image: url("../img/icon-login-in.svg");
}

.enter:hover::before {
  background-image: url("../img/icon-login-grey.svg");
}

.enter:active::before {
  background-image: url("../img/icon-login-in.svg");
}

/*Header third level (main menu)*/

.site-navigation li {
  flex-grow: 1;
  text-align: center;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--second-font);
  color: var(--white);
  font-size: 18px;
  background-color: var(--special-grey);
  box-shadow: inset 0px -5px 0px var(--guidance-grey);
}

.site-navigation a {
  display: block;
  color: inherit;
  padding-top: 16px;
  padding-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.main-page a {
  padding-left: 25px;
}

.contact-page a {
  padding-right: 20px;
}

.site-navigation a:hover {
  background-color: var(--guidance-grey);
}

.site-navigation a:active {
  opacity: 0.5;
}

/*Main content*/
/*Advertising section*/

.white-background {
  background-color: var(--white);
}

.announcement-list {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 59px;
  font-family: var(--second-font);
}

.materials {
  grid-column: 1;
  display: block;
  background-color: var(--special-yellow);
  background-image: url("../img/icon-materials.svg");
  background-repeat: no-repeat;
  background-position: right 43px top 31px;
}

.tool {
  grid-column: 2;
  background-color: var(--special-blue);
  background-image: url("../img/icon-tool.svg");
  background-repeat: no-repeat;
  background-position: right 31px top 34px;
}

.technic {
  grid-column: 3;
  background-color: var(--special-lilac);
  background-image: url("../img/icon-technic.svg");
  background-repeat: no-repeat;
  background-position: right 31px top 31px;
}

.delivery {
  grid-column: 3;
  grid-row: 3;
  background-color: var(--special-yellow);
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: right 31px top 32px;
}

.discounts {
  grid-column: 3;
  grid-row: 2;
  background-color: var(--special-greenlight);
  background-image: url("../img/icon-discounts.svg");
  background-repeat: no-repeat;
  background-position: right 45px top 26px;
}

.slider {
  grid-column: 1/3;
  grid-row: 2/4;
  background-color: var(--grey);
}

.materials,
.tool,
.technic,
.discounts,
.delivery {
  font-size: 24px;
  font-weight: bold;
  color: var(--white);
  padding-top: 20px;
  padding-left: 22px;
  line-height: 30px;
  position: relative;
  overflow: hidden;
}

.materials-link,
.tool-link,
.technic-link,
.discounts-link,
.delivery-link {
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: var(--white);
  line-height: 18px;
  width: 135px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 14px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
  text-transform: uppercase;
}

.materials-link:hover,
.tool-link:hover,
.technic-link:hover,
.discounts-link:hover,
.delivery-link:hover {
  background: rgba(197, 197, 197, 0.3);
}

.materials-link:focus,
.tool-link:focus,
.technic-link:focus,
.discounts-link:focus,
.delivery-link:focus {
  background: rgba(169, 169, 169, 0.3);
}

/*Slider*/

.slider {
  position: relative;
  width: auto;
  min-height: 266px;
}

.site-wrapper-1 {
  display: none;
  background-image: url("../img/slide1.jpg");
  height: 266px;
}

.site-wrapper-2 {
  display: none;
  background-image: url("../img/slide2.jpg");
  height: 266px;
}
.slide {
  display: block;
  width: 100%;
  height: 266px;
}

.title-slide {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: var(--second-font);
  color: var(--white);
  padding-top: 23px;
  padding-left: 24px;
}

.description-slide {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  padding-top: 5px;
  padding-left: 24px;
}

.button-left {
  background-image: url("../img/icon-left.svg");
}

.button-right {
  background-image: url("../img/icon-right.svg");
}

.button-left,
.button-right {
  position: absolute;
  background-color: transparent;
  z-index: 3;
  display: flex;
  border: none;
  width: 22px;
  height: 40px;
  justify-content: space-between;
}

.button-left {
  left: 24px;
  bottom: 104px;
}

.button-right {
  right: 20px;
  bottom: 104px
}

.button-circle {
  position: absolute;
  bottom: 35px;
  left: 295px;
  z-index: 3;
  display: flex;
  width: 30px;
  justify-content: space-between;
}

.button-circle button {
  padding: 0;
  width: 10px;
  height: 10px;
  border: 2px solid var(--white);
  background-color: var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.button-circle .current {
  background-color: var(--basic-red);
}

.button-open-catalog {
  display: inline-block;
  vertical-align: inherit;
  color: var(--white);
  line-height: 18px;
  width: 192px;
  height: 38px;
  background-color: var(--basic-red);
  text-align: center;
  text-transform: uppercase;
  padding-top: 11px;
  margin-left: 24px;
  margin-top: 113px;
}

/*Section popular products & manufacturers*/

.popular-background {
  display: flex;
  background-color: var(--grey-die);
  margin-top: 59px;
  padding-left: 28px;
  margin-bottom: 20px;
}

.popular {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: inherit;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-family: var(--second-font);
  text-transform: uppercase;
  padding-top: 29px;
  padding-bottom: 30px;
  color: var(--special-grey);
}

.all-popular-manufacturers,
.all-popular {
  display: inline-block;
  vertical-align: inherit;
  min-width: 192px;
  height: 38px;
  background-color: var(--basic-red);
  color: var(--white);
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
  margin-top: 25px;
  margin-right: 10px;
  padding-top: 11px;
  font-family: var(--second-font);
}

.all-popular {
  margin-left: 444px;
}

.all-popular-manufacturers{
  margin-left: 335px;
}

.popular-catalog ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.manufacturers {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
  padding-bottom: 50px;
  margin-left: -20px;
}

.manufacturers li {
  padding-left: 20px;
}

.manufacturers-logo:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacturers-logo:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacturers-logo {
  display: block;
  background-repeat: no-repeat;
  width: 220px;
  height: 145px;
  border: 1px solid var(--special-greylight);
  text-align: center;
  background-color: var(--white);
  margin-bottom: 20px;
}

.bosch {
  padding-top: 54px;
}

.makita {
  padding-top: 50px ;
}

.dewalt {
  padding-top: 48px;
}

.interscol {
  padding-top: 21px;
}

.hitachi {
  padding-top: 58px;
}

.lg {
  padding-top: 35px;
}

.aeg {
  padding-top: 23px;
}

.metabo {
  padding-top: 34px;
}

/*Service section*/

.service-background {
  background-color: var(--basic-background);
  min-height: 522px;
  height: 100%;
}

.service-header {
  padding-top: 64px;
  padding-bottom: 25px;
}

.delivery-header,
.service-header,
.guarantee-header {
  margin: 0;
  display: flex;
  font-family: var(--second-font);
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.service-text {
  margin: 0;
  width: 396px;
  font-size: 13px;
}

.service-button {
  display: flex;
  padding-top: 70px;
  width: 240px;
  position: relative;
}

.service-button .delivery-button {
  margin-top: 3px;
}

.delivery-button,
.guarantee-button,
.credit-button {
  display: inline-flex;
  border: none;
  margin: 0;
  min-width: 240px;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 22px;
  margin-right: 80px;
  background-color: var(--special-grey);
  color: var(--white);
  font-family: var(--second-font);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  box-shadow: 0px 1px 0px var(--guidance-grey), inset 0px 1px 0px #405069;
}

.delivery-button:hover,
.guarantee-button:hover,
.credit-button:hover {
  background-color: var(--guidance-grey);
  color: var(--white);
  box-shadow: 0px 1px 0px var(--guidance-grey), inset 0px 1px 0px #405069;
}

.active-service-button {
  background-color: var(--white);
  color: var(--special-grey);
  box-shadow: none;
}

.delivery-text,
.guarantee-text,
.credit-text {
  display: block;
  margin: 0;
  width: 279px;
  height: auto;
  font-size: 13px;
  padding-top: 29px;
  padding-bottom: 28px;
}

.guarantee-text {
  width: 319px;
}

.delivery-header,
.guarantee-header,
.credit-header {
  margin: 0;
  display: flex;
  font-family: var(--second-font);
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-grey);
}

.shadow {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
  left: 230px;
  top: 25px;
}

.delivery-service {
  display: none;
  position: relative;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  min-width: 619px;
  min-height: 285px;
  height: auto;
  background-position-x: 151px;
  background-position-y: 21px;
}

.guarantee-service {
  display: none;
  position: relative;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  min-width: 629px;
  min-height: 285px;
  height: auto;
  background-position-x: 239px;
  background-position-y: 0px;
  margin-right: -10px;
  margin-top: -2px;
}

.credit-service {
  display: none;
  position: relative;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  min-width: 639px;
  min-height: 285px;
  height: auto;
  background-position-x: 165px;
  margin-right: -15px;
}

.service-hidden {
  display: block;
}

.button-application {
  font-family: var(--second-font);
  border: none;
  border-radius: 2px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
  width: 195px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Section about the company*/

.company-background {
  background-color: var(--white);
}

.about-company {
  display: flex;
  justify-content: space-between;
}

.company {
  margin: 0;
  font-family: var(--second-font);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 70px;
}

.company-text {
  margin: 0;
  padding: 0;
  width: 478px;
  font-size: 13px;
  padding-top: 24px;
}

.company-slogan {
  margin: 0;
  padding: 0;
  width: 440px;
  padding-top: 28px;
  font-size: 13px;
}

.transport li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  color: var(--basic-red);
  left: 0px;
  top: 12px;
}

.transport li {
  position: relative;
  font-size: 18px;
  font-family: var(--second-font);
  line-height: 24px;
  padding-left: 37px;
  padding-bottom: 12px;
}

.company-button {
  display: block;
  width: 220px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
  line-height: 18px;
  background-color: var(--basic-red);
  font-family: var(--second-font);
  text-transform: uppercase;
  color: var(--white);
  margin-top: 8px;
  margin-bottom: 69px;
}

.map-text {
  margin: 0;
  padding: 0;
  width: 180px;
  font-size: 13px;
  margin-top: 24px;
  margin-bottom: 35px;
}

.feedback-button {
  margin-top: 18px;
  width: 300px;
}

/*Footer*/

.footer-navigation-background {
  background-color: var(--special-grey);
}

.logo-background-footer {
  display: flex;
  min-width: 220px;
  height: 68px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);
  margin-right: 169px;
}

.logo-footer {
  margin-top: 20px;
  margin-left: 41px;
  margin-right: 41px;
  margin-bottom: 25px;
}

.footer-navigation {
  display: flex;
}

.footer-menu {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 37px;
  width: 100%;
  max-width: 556px;
  margin-right: -5px;
}

.footer-menu a {
  color: var(--basic-background);
}

.footer-menu a,
.footer-list a{
  font-family: var(--second-font);
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
}

.footer-list a {
  color: var(--special-yellowlight);
}

.footer-navigation-link {
  display: flex;
}

.footer-list {
  display: inline-flex;
  vertical-align: inherit;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 28px;
  width: 100%;
  max-width: 534px;
  margin-right: -5px;
}

.address-footer {
  display: inline-block;
  vertical-align: inherit;
  font-family: var(--second-font);
  color: var(--basic-background);
  font-size: 18px;
  min-width: 411px;
  width: auto;
  padding-top: 23px;
  padding-right: 76px;
  padding-left: 3px;
  padding-bottom: 54px;
}

.address-footer-text {
  font-style: normal;
  width: 323px;
}

.footer-telephone {
  color: var(--white);
}

.footer-link-background {
  background-color: var(--guidance-grey);
}

.footer-link {
  display: flex;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-link p {
  color: var(--white);
  font-family: var(--second-font);
}

.mail a:link {
  color: var(--basic-yellow);
}

.developer-link {
  color: var(--basic-yellow);
}

.footer-navigation a:hover,
.footer-navigation-link a:hover {
  text-decoration: underline;
}

.footer-navigation a:focus {
  opacity: 0.5;
}

.footer-telephone {
  color: var(--white);
  font-style: normal;
}

.social {
  display: flex;
  width: 132px;
  margin-right: 118px;
  align-items: center;
  margin-left: 5px;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 4px;
  background: linear-gradient(0deg, #212A3A, #212A3A);
}

.social a:hover,
.social a:active {
  background: var(--basic-red);
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:focus {
  opacity: 0.5;
}

.mail {
  margin: 0;
  padding: 0;
  width: 137px;
  font-size: 16px;
  line-height: 18px;
  margin-right: 51px;
}

.developer a:hover,
.mail a:hover {
  text-decoration-line: underline;
}

.developer a:active,
.mail a:active {
  color: var(--basic-red);
}

.developer {
  margin: 0;
  padding: 0;
  width: 98px;
  font-size: 16px;
  line-height: 18px;
}

.сopyright {
  display: inline-block;
  vertical-align: inherit;
  margin: 0;
  width: 227px;
  font-size: 16px;
  line-height: 18px;
  margin-right: 161px;
  margin-top: 1px;
}

/*Catalog page*/
/*Main content*/
/*Bread crumb*/

.bread-crumb {
  display: flex;
  padding-top: 22px;
}

.bread-crumb-catalog,
.bread-crumb-tool,
.bread-crumb-perforators {
  display: block;
  line-height: 18px;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--basic-text);
  padding-left: 55px;
}

.bread-crumb-tool {
  padding-left: 41px;
}

.bread-crumb-perforators {
  padding-left: 43px;
}

.icon-home::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  background-image: url("../img/icon-home.svg");
  top: 3px;
}

.bread-crumb-catalog::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 3px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
}

.bread-crumb-tool::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 18px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
}

.bread-crumb-perforators::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 18px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
}

/*Background catalog*/

.perforators-background {
  display: flex;
  background-color: var(--header-gray);
  margin-top: 20px;
  padding-left: 29px;
  margin-bottom: 20px;
}

.catalog-section {
  display: inline-flex;
}

/*Filtr*/

.filter-text {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  background-color: var(--catalog-gray);
  font-weight: normal;
  margin-bottom: 12px;
}

.filter {
  display: block;
  margin-right: 20px;
}

.range-filter {
  width: 220px;
  margin-top: 12px;
}

.filter-line {
  padding-bottom: 27px;
  border-bottom: 1px solid #e5e5e5;
}

.filter-item legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--catalog-gray);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: #D7DCDE;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background:var(--success);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--white);
  background-color:#ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 95px;
  padding: 9px;
  text-align: center;
  color:var(--basic-text);
  border: none;
  border-radius: 2px;
  background-color: var(--catalog-gray);
  font-size: 17px;
  line-height: 18px;
  padding-left: 25px;
}

.filter-manufacturers legend {
  padding-bottom: 14px;
}


.filter-manufacturers p {
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
}

/*Check*/

.check {
  padding-left: 35px;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase ;
}

.check:focus-within {
  outline: auto;
}

.check-input {
  position: absolute;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.check-box {
  position: absolute;
  margin-left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

/*Cheked*/

.check-input:checked + .check-box {
  background-image: url("../img/checkbox-on.svg");
}

.check-input:focus + .check-box {
  background-image: url("../img/checkbox-off.svg");
}
.check-input:checked:focus + .check-box {
  background-image: url("../img/checkbox-on.svg");
}

.check-input:disabled + .check-box {
  background-image: url("../img/checkbox-off-dis.svg");
}
.check-input:checked:disabled + .check-box {
  background-image: url("../img/checkbox-on-dis.svg");
}

.check-input:checked:hover:disabled + .check-box {
  background-image: url("../img/checkbox-on-dis.svg");
}

.check-input:hover + .check-box {
  background-image: url("../img/checkbox-off-active.svg");
}

.check-input:checked:hover + .check-box {
  background-image: url("../img/checkbox-on-active.svg");
}

.filter-line-second {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

/*Radio*/

.filter-supply legend {
  padding-bottom: 22px;
}

.filter-supply p {
  margin: 0;
  padding: 0;
  padding-bottom: 17px;
}

.radio {
  padding-left: 35px;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.radio:focus-within {
  outline: auto;
}

.radio-input {
  position: absolute;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.radio-box {
  position: absolute;
  margin-left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.radio-input:checked + .radio-box {
  background-image: url("../img/radio-on.svg");
}

.radio-input:focus + .radio-box {
  background-image: url("../img/radio-off.svg");
}
.radio-input:checked:focus + .radio-box {
  background-image: url("../img/radio-on.svg");
}

.radio-input:disabled + .radio-box {
  background-image: url("../img/radio-off-dis.svg");
}
.radio-input:checked:disabled + .radio-box {
  background-image: url("../img/radio-on-dis.svg");
}

.radio-input:hover + .radio-box {
  background-image: url("../img/radio-off-active.svg");
}

.radio-input:checked:hover + .radio-box {
  background-image: url("../img/radio-on-active.svg");
}

.show {
  margin-top: 17px;
  width: 220px;
  line-height: 18px;
  font-size: 13px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--white);
  border: 1px solid #e5e5e5;
}

/*Sorting of goods*/

.filter-manufacturers {
  margin-top: 17px;
  margin-bottom: 18px;
}

.sort {
  display: flex;
  min-width: 700px;
  margin-bottom: 28px;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--catalog-gray);
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sort-text {
  padding-left: 19px;
}

.sort-filter {
  display: flex;
  margin-left: 135px;
  max-width: 360px;
  width: 100%;
  justify-content: space-between;
  margin-right: 45px;
}

.triangle-up {
  margin-right: 16px;
  color: var(--basic-red);
}

.triangle-up,
.triangle-up-min,
.sort-link {
  color: var(--basic-text);
  opacity: 0.3;
}

.sort-link {
  padding-left: 5px;
  border-bottom: 1px dotted var(--basic-red);
}

.sort-link-type {
  padding-left: 8px;
}

.sort-link:hover {
  border-bottom: 1px solid var(--basic-red);
  opacity: 1;
}

.triangle a:hover {
  opacity: 1;
}

.active-sort {
  color: var(--basic-red);
  border: none;
  opacity: 1;
}

.active-sort:hover {
  color: var(--basic-red);
  border: none;
  opacity: 1;
}

/*Product cards*/

.catalog {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 18px;
  grid-template-columns: 1fr 1fr 1fr;
}

.work-card {
  display: inline-block;
  vertical-align: inherit;
  width: 220px;
  border: 1px solid var(--special-greylight);
  text-align: center;
  background-color: var(--white);
  position: relative;
  overflow: hidden;
}

.new::before {
  content: "new";
  position: absolute;
  z-index: 2;
  font-family: var(--second-font);
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: inherit;
  width: 100px;
  padding-top: 8px;
  padding-bottom: 4px;
  background-color: var(--basic-red);
  color: var(--white);
  transform: rotateZ(45deg);
  right: -27px;
  top: 7px
}

.work-card:hover .hover-card {
  z-index: 1;
}

.hover-card {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 178px;
  padding-top: 38px;
  padding-left: 41px;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: -1;
}

.buy,
.in-bookmark {
  border: none;
  width: 135px;
  font-family: var(--second-font);
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.buy {
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  margin-bottom: 10px;
}

.buy::before {
  position: absolute;
  content: "";
  left: 25px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  opacity: 0.3;
}

.buy:hover {
  background-color: var(--success);
}

.buy:active {
  background-color: #518534;
}

.in-bookmark {
  border: 3px solid var(--basic-green);
  background-color: var(--white);
  color: var(--special-grey);
}

.in-bookmark:hover {
  border: 3px solid var(--special-grey);
}

.in-bookmark:active {
  border: 3px solid var(--special-grey);
  opacity: 0.5;
}

.card-name {
  text-align: center;
  margin: 0;
}

.catalog a {
  color: var(--basic-text);
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  max-width: 185px;
  overflow: hidden;
  display: inline-block;
  vertical-align: inherit;
}

.container-img {
  height: 178px;
  width: 100%;
  display: flex;
}

.catalog img {
  margin: auto;
}

.price {
  margin: 0;
  display: inline-block;
  vertical-align: inherit;
  width: 141px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: var(--basic-red);
  color: var(--white);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 19px;
  margin-left: 13px;
  position: relative;
}


.square::before, .square::after {
  content: "";
  position: absolute;
  display: inline-block;
  vertical-align: inherit;
  width: 16px;
  height: 43px;
  background-color: var(--white);
  transform: rotateZ(45deg);
  right: -5px;
  top: 10px
}

.square::after {
  transform: rotateZ(-45deg);
  right: -5px;
  top: -15px;
}

.old-price {
  margin: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--grey);
  display: inline-block;
  vertical-align: inherit;
  max-width: 220px;
  width: 100%;
}

.catalog li:hover {
  box-shadow: 0 0 5px var(--grey);
}

/*Page switching buttons*/

.switching-buttons {
  padding-top: 50px;
  padding-bottom: 59px;
}

.switching-buttons-number,
.switching-buttons-next {
  display: inline-block;
  vertical-align: inherit;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  background-color: var(--white);
  color: var(--basic-text);
  border: 1px solid #E5E5E5;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 5px;
}

.switching-buttons-next {
  padding-left: 32px;
  padding-right: 31px;
}

.red-button {
  background-color: var(--basic-red);
  color: var(--white);
}

.switching-buttons-number:hover,
.switching-buttons-next:hover {
  border: 1px solid var(--basic-graylight);
}

.switching-buttons-number:active,
.switching-buttons-next:active {
  border: 1px solid var(--basic-red);
}

/*Section about perforators*/

.about-perforators {
  margin: 0;
  font-family: var(--second-font);
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 64px;
}

.about-perforators-text {
  margin: 0;
  font-size: 13px;
  padding-top: 25px;
  padding-bottom: 69px;
  width: 907px;
}

/*Modal*/

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/*Modal close*/

.modal-close {
  position: absolute;
  top: 0;
  top: 10px;
  right: 12px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 0px;
  width: 25px;
  height: 3px;
  background-color: var(--basic-red);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

/*Modal map*/

.modal-map {
  display: none;
  width: 943px;
  height: 449px;
  border-top: 7px solid var(--basic-red);
  z-index: 10;
}

.modal-map img {
  display: block;
}

/*Modal feedback*/

.feedback-form p {
  margin: 0;
  margin-bottom: 10px;
}

.modal-feedback {
  display: none;
  width: 620px;
  height: 430px;
  background-color: var(--white);
  border-top: 7px solid var(--basic-red);
  z-index: 8;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  padding-left: 81px;
  padding-top: 39px;
}

.feedback-form p {
  display: inline-grid;
  flex-wrap: wrap;
}

.your-name,
.ap-email,
.ap-text {
  display: inline-block;
  vertical-align: inherit;
  font-family: var(--second-font);
  font-size: 18px;
}

.ap-text {
  margin-top: 5px;
}

.your-name-input,
.ap-email-input,
.ap-text-input {
  display: inline-block;
  vertical-align: inherit;
  font-family: var(--base-font);
  width: 220px;
  margin-top: 11px;
  margin-right: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  border: 2px solid var(--basic-graylight);
  border-radius: 2px;
  font-size: 13px;
  line-height: 24px;
}


.your-name-input::placeholder,
.ap-email-input::placeholder,
.ap-text-input::placeholder {
  color: var(--grey);
}

.ap-text-input {
  width: 460px;
  height: 114px;
  padding-top: 12px;
  padding-bottom: 80px;
  margin-bottom: 27px;
}

.modal-background {
  width: 100%;
  padding-top: 37px;
  padding-left: 80px;
  background-color:#f4f4f4;
}

.modal-background button {
  border: none;
  width: 460px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-family: var(--second-font);
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--white);
  margin-bottom: 46px;
}

.modal-basket {
  display: none;
  width: 620px;
  height: 282px;
  z-index: 5;
  background-color: var(--white);
  border-top: 7px solid var(--basic-red);
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position-x: 81px;
  background-position-y: 48px;
}

.notification-text {
  margin: 0;
  padding: 0;
  font-family: var(--second-font);
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 66px;
  text-align: center;
  padding-bottom: 67px;
}

.modal-background-catalog {
  background-color: #f1f1f1;
  height: 112px;
  padding-left: 114px;
  padding-top: 37px;
}

.place-order {
  display: inline-block;
  vertical-align: inherit;
  font-family: var(--second-font);
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--white);
  text-align: center;
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-right: 5px;
}

.resume {
  border: none;
  width: 192px;
  background-color: var(--white);
  font-family: var(--second-font);
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-text);
  padding-top: 11px;
  padding-bottom: 9px;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
